<!-- start of description -->
		<div id="contentBody">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
					<h3>I sincerely hope you enjoy my work!</h3>
					<p>
						Thank you so much for visiting my website. I know there isn't anything you can buy here, and no kitten gifs, but there is a lot of my hard work. Not work for money, or even fame, just practice. This site will fill up with renditions of psds left on <a href="http://365psd.com">365PSD</a>. In fact, the navigation of the page you are on is a sample from <a href="http://365psd.com/day/112/">Jonno Riekwel</a>. I am in no way a designer, but I do aspire to enrich my tastes in color. Just as I am in no way an artist, but I hope to make beautiful art. Thank you so much again, for all your time. 
					</p>
				</div>
			</div>
			<!-- end of description -->
			<!-- start of links -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="hacker-list">
					
					<div class="row">
						<div id="searchDiv" class="center col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class=" pull-right text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="input-group input-group-sm">
									  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
									  <input type="text" class="" placeholder="Search">
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div class="row">
						<ul class="list" id="itemList">

							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="row">
									<li>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<img src="http://lorempixel.com/100/100/">
										</div>
										<div class="itemDesc col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<h3 class="name">pixel</h3>
											<p class="type">This is a description Vlagkjhsdkfjhasdf lkj Do not want</p>
										</div>
									</li>
								</div>
							</div>
							
						</ul>
					</div>

					
                   
				</div>
			</div>
		</div>